body {
  display: block;
  text-align: center;
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 180px;
  margin-bottom: 30px;
}

input {
  width: 250px;
  margin: 3px;
  padding: 10px 5px;
  font-size: 12px;
  border: solid 0.5px rgba(128, 128, 128, 0.3);
  border-radius: 4px;
  background-color: #fafafa;
}

i {
  margin: 8px;
  font-size: 20px;
  position: relative;
  top: 2px;
}

button {
  width: 260px;
  margin: 10px 0;
  padding: 8px;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: #4db5f9;
}

hr {
  border: none;
  border-top: 1px solid #c8c8c8;
  overflow: visible;
  text-align: center;
  width: 260px;
  margin: 15px auto;
}

hr:after {
  background: #fff;
  content: "OR";
  padding: 0 20px;
  position: relative;
  top: -10px;
  font-size: 12px;
  font-weight: 700;
  color: #8f8f8f;
}

.login-container {
  background-color: #ffff;
  display: block;
  text-align: center;
  margin: 50px auto 10px auto;
  padding: 50px 20px 25px 20px;
  border: solid 0.5px rgba(128, 128, 128, 0.3);
  border-radius: 2px;
  width: 300px;
}

.signup-container {
  background-color: #ffff;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 25px 20px;
  border: solid 0.5px rgba(128, 128, 128, 0.3);
  border-radius: 2px;
  width: 300px;
  font-size: 14px;
}

.signup-container a {
  color: #49a9e9;
  font-weight: 700;
}

a {
  text-decoration: none;
}
.facebook-login a {
  color: #30497e;
  font-size: 14px;
  font-weight: 700;
  color: #30497e;
}

.forgot-password a {
  font-size: 12px;
  color: black;
}

.forgot-password {
  margin-top: 10px;
}
